.grid-layout {
  grid-template: min-content minmax(0, 1fr) min-content / min-content auto;
}

.menu-animation {
  animation: 500ms menu ease;
}

.menu-animation-reverse {
  animation: 350ms menu-reverse;
}

@keyframes menu {
  0% {
    transform: translateX(0);
    opacity: 0.25;
  }

  50% {
    transform: translateX(-0.25rem);
    opacity: 0.5;
  }

  75% {
    transform: translateX(0.25rem);
    opacity: 1;
  }
}

@keyframes menu-reverse {
  0% {
    transform: scaleX(25%);
    opacity: 0.75;
  }

  100% {
    transform: scaleX(100%);
    opacity: 1;
  }
}
