/* [&>*>*:last-child]:border-primary [&>*:last-child]:col-span-full */

.custom-form {
  & > label > *:last-child {
    border-color: var(--border);
  }

  & > label:last-child {
    grid-column: 1 / -1;
  }

  & span:has(+ input:required)::after {
    content: '*';
    color: theme(colors.red.500);
  }
}

.custom-form-off {
  & > label > *:last-child {
    border-color: inherit;
  }

  & span:has(+ input:required)::after {
    content: none;
  }

  & :is(input:disabled) {
    opacity: 1;
    cursor: text;
  }
}
