/* [&>*>*:last-child]:border-primary [&>*:last-child]:col-span-full */

.custom-form {
  & :is(label, div) > *:last-child {
    border-color: var(--border);
  }

  & > :is(label, div):nth-child(n+3) {
    grid-column: 1 / -1;
  }

  & span:has(+ input:required)::after, label:has(+ div > input:required) span::after {
    content: '*';
    color: theme(colors.red.500);
  }
}

